/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 1, 2017, 6:38:59 PM
    Author     : Elmar H.Mammadov <jrelmarmammadov@gmail.com>
*/

.wrapper{
    margin: 4px;
    padding: 4px;
    border: 1px solid black;
    height: 600px;
}
.top{
    height: 100px;
    border: 1px solid red;
}
.center{
    height: 490px;
    border: 1px solid red;
}