/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 1, 2017, 6:38:59 PM
    Author     : Elmar H.Mammadov <jrelmarmammadov@gmail.com>
*/

.wrapper{
    margin: 4px;
    padding: 4px;
    border: 1px solid black;
    height: 600px;
}
.top{
    height: 100px;
    border: 1px solid red;
}
.center{
    height: 490px;
    border: 1px solid red;
}

.err-msg{
    font-size: 16px;
    color: red;
    font-weight: bold;
    list-style: none;
}
.inf-msg{
    font-size: 16px;
    color: green;
    font-weight: bold;
    list-style: none;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.row.content {height: 450px}
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;} 
}
.list-group-item{
    margin-bottom: 4px;
}
.list-group-item a{
    display: block;
    text-decoration: none;
    color: #00BFFF;
    font-size: 16px;
    font-family: sans-serif;
}
.active-left-menu-item{
    border: 1px solid #00BFFF !important;
}
.search-box{
    width: 300px!important;
    margin-left: 100px;
}
.modal-backdrop {
    display:none !important;
}
.modal-open .modal {
    width: 600px !important;
    margin: 100px auto !important;
}
.custom-input{
    max-width: 300px!important;
    margin: 4px;
}